body{
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-image: url("./background-stars.svg");
  background-repeat: no-repeat;
  background-color:#070724;
}
header{
  width: 100%;
}
.header-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
  margin-left: 24px;
  margin-right: 16px;
  align-items: center;
  
}
.logo{
  font-family: 'Antonio';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -1.05px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 16px;
}
.hamburger{
  cursor: pointer;
  margin-top: 17px;
}
.bar{
  width: 25px;
  background-color: white;
  height: 3px;
  -webkit-transition: all 0.3s  ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
  margin-bottom:5px;
}
.rect-header{
  width: 100%;
  height: 1px;
  background-color: white;
  margin-top: 16px;
  margin-bottom: 44px;
}
.mercuty{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #DEF4FC;
  margin-right: 25px;
}
ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-menu{
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  gap: 40px;
}
li{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-link{
  display: flex;
  flex-direction:row;
  align-items: center;
  width: 100%;
}
.a-mercury{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
/* identical to box height, or 167% */
  text-align: center;
  letter-spacing: 1.36364px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-right: 179px;
}
.arrow-mercury{
  width: 8px;
  height: 10px;
  cursor: pointer;
}
.arrow-mercury:hover{
  rotate: 90deg;
  transition: 0.3s;
}
.venus-ball{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #F7CC7F;
  margin-right: 25px;
}
.a-venus{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
/* identical to box height, or 167% */
  text-align: center;
  letter-spacing: 1.36364px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-right: 207px;
}
.arrow-venus{
  width: 8px;
  height: 10px;
  cursor: pointer;
}
.arrow-venus:hover{
  rotate: 90deg;
  transition: 0.3s;
}
.li-rect{
  width: 327px;
  height: 0.1px;
  background-color: white;
}
.earth-ball{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #545BFE;
  margin-right: 25px;
}
.a-earth{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
/* identical to box height, or 167% */
  text-align: center;
  letter-spacing: 1.36364px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-right: 207px;
}
.arrow-earth{
  width: 8px;
  height: 10px;
  cursor: pointer;
}
.mars-ball{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #FF6A45;
  margin-right: 25px;
}
.a-mars{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
/* identical to box height, or 167% */
  text-align: center;
  letter-spacing: 1.36364px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-right: 207px;
  width: 62px;
}
.arrow-mars{
  width: 8px;
  height: 10px;
  cursor: pointer;
}
.jupiter-ball{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #ECAD7A;
  margin-right: 25px;
}
.a-jupiter{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
/* identical to box height, or 167% */
  text-align: center;
  letter-spacing: 1.36364px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-right: 207px;
  width: 62px;
}
.arrow-jupiter{
  width: 8px;
  height: 10px;
  cursor: pointer;
}
.saturn-ball{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #FCCB6B;
  margin-right: 25px;
}
.a-saturn{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
/* identical to box height, or 167% */
  text-align: center;
  letter-spacing: 1.36364px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-right: 207px;
  width: 62px;
}
.arrow-saturn{
  width: 8px;
  height: 10px;
  cursor: pointer;
}
.uranus-ball{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #65F0D5;
  margin-right: 25px;
}
.a-uranus{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
/* identical to box height, or 167% */
  text-align: center;
  letter-spacing: 1.36364px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-right: 207px;
  width: 62px;
}
.arrow-uranus{
  width: 8px;
  height: 10px;
  cursor: pointer;
}
.neptune-ball{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color:#497EFA;
  margin-right: 25px;
}
.a-neptune{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
/* identical to box height, or 167% */
  text-align: center;
  letter-spacing: 1.36364px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-right: 207px;
  width: 62px;
 
}
.arrow-neptune{
  width: 8px;
  height: 10px;
  cursor: pointer;
}
.nav-link-last{
  display: flex;
  flex-direction:row;
  align-items: center;
  width: 100%;
  margin-bottom: 82px;
}
/* mercuris info */
.real-mercury{
  display: none;
}
.mercury-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.select-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 43px;
  margin-bottom: 20px;
}
.overview-mercury{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 10px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1.92857px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.overview-mercury:hover{
  color: #497EFA;
  cursor: pointer;
  transition: 0.3s;
}
.structure-mercury{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 10px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1.92857px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.structure-mercury:hover{
  color: #497EFA;
  cursor: pointer;
  transition: 0.3s;
}
.surface-mercury{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 10px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1.92857px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.surface-mercury:hover{
  color: #497EFA;
  cursor: pointer;
  transition: 0.3s;
}
.mercury-planet-mobile{
  width: 111px;
  height: 111px;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 95px;
}
.mercury-planet-mobile-interal{
  width: 111px;
  height: 111px;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 95px;
  display: block;

}
.main-mercury{
  font-family: 'Antonio';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 98px;
}
.mercury-info-p{
  font-family: Spartan;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  width: 327px;
  color:grey;
  margin-top: 16px;
}
.mercury-structure-p{
  font-family: Spartan;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  width: 327px;
  color:grey;
  margin-top: 16px;
  display: none;
}
.geology-mercury-mobile{
  width: 111px;
  height: 111px;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 95px;
  display: block;
}
.surface-p{
  font-family: Spartan;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  width: 327px;
  color:grey;
  margin-top: 16px;
}
.sourc{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 25px;
/* identical to box height, or 208% */
  text-decoration-line: underline;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-top: 32px;
}
.wikipedia{
  color: #FFFFFF;
}
.numbers-and-info{
  display: flex;
  flex-direction: column;
  margin-top: 28px;
  gap: 11px;
}
.rotait-time{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 327px;
  height: 48px;
  mix-blend-mode: normal;
  border: 1px solid #FFFFFF;
  align-items: center;
}
.rotation{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  /* identical to box height, or 200% */
  letter-spacing: 0.727273px;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-left: 24px;  
}
.days{
  font-family: 'Antonio';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */
  text-align: right;
  letter-spacing: -0.75px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-right: 24px;
}
/* venus info */
.real-venus{
  display: none;
}
.venus-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.overview-venus{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 10px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1.92857px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.overview-venus:hover{
  color: #EDA249;
  cursor: pointer;
  transition: 0.3s;
}
.structure-venus{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 10px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1.92857px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.structure-venus:hover{
  color: #EDA249;
  cursor: pointer;
  transition: 0.3s;

}
.surface-venus{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 10px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1.92857px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.surface-venus:hover{
  color: #EDA249;
  cursor: pointer;
  transition: 0.3s;
}
.venus-planeta-mobile{
  width: 111px;
  height: 111px;
  margin-top: 85px;
}
.venus-interal-mobile{
  width: 111px;
  height: 111px;
  margin-top: 85px;
}
.venus-geology-mobile{
  width: 111px;
  height: 111px;
  margin-top: -25px;
}
.overview-p-venus{
  font-family: Spartan;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  width: 327px;
  color:grey;
  margin-top: 16px;
}
.structure-p-venus{
  font-family: Spartan;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  width: 327px;
  color:grey;
  margin-top: 16px;
}
.surface-p-venus{
  font-family: Spartan;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  width: 327px;
  color:grey;
  margin-top: 16px;
}
/* earth-info */
.real-earth{
  display: none;
}
.earth-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overview-earth{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 10px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1.92857px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.overview-earth:hover{
  color: #6D2ED5;
  cursor: pointer;
  transition: 0.3s;
}
.structure-earth{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 10px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1.92857px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.structure-earth:hover{
  color: #6D2ED5;
  cursor: pointer;
  transition: 0.3s;

}
.surface-earth{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 10px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1.92857px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.surface-earth:hover{
  color: #6D2ED5;
  cursor: pointer;
  transition: 0.3s;
}
.overview-p-earth{
  font-family: Spartan;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  width: 327px;
  color:grey;
  margin-top: 16px;
  
}
.structure-p-earth{
  font-family: Spartan;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  width: 327px;
  color:grey;
  margin-top: 16px;
}
.surface-p-earth{
  font-family: Spartan;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  width: 327px;
  color:grey;
  margin-top: 16px;
}
.earth-interal-mobile{
  width: 173px;
  height: 173px;
  margin-top: 64px;
}
.earth-geology-mobile{
  width: 173px;
  height: 173px;
  margin-top: -30px;
}
.earth-planeta-mobile{
  width: 173px;
  height: 173px;
  margin-top: 64px;
}

/* mars css */
.real-mars{
  display: none;
}
.mars-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overview-mars{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 10px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1.92857px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.overview-mars:hover{
  color: #D14C32;
  cursor: pointer;
  transition: 0.3s;
}
.structure-mars{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 10px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1.92857px;
  text-transform: uppercase;
  color: #FFFFFF; 
}
.structure-mars:hover{
  color: #D14C32;
  cursor: pointer;
  transition: 0.3s;

}
.surface-mars{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 10px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1.92857px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.surface-mars:hover{
  color: #D14C32;
  cursor: pointer;
  transition: 0.3s;
}
.mars-planeta-mobile{
  width: 129px;
  height: 129px;
  margin-top: 87px;
}
.mars-interal-mobile{
  width: 129px;
  height: 129px;
  margin-top: 87px;
}
.mars-geology-mobile{
  width: 129px;
  height: 129px;
  margin-top: -30px;
}
.overview-p-mars{
  font-family: Spartan;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  width: 327px;
  color:grey;
  margin-top: 16px;
}
.structure-p-mars{
  font-family: Spartan;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  width: 327px;
  color:grey;
  margin-top: 16px;
}
.surface-p-mars{
  font-family: Spartan;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  width: 327px;
  color:grey;
  margin-top: 16px;
}

/* jupiter css */
.real-jupiter{
  display: none;
}
.jupiter-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overview-jupiter{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 10px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1.92857px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.overview-jupiter:hover{
  color: #D83A34;
  cursor: pointer;
  transition: 0.3s;
}

.structure-jupiter{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 10px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1.92857px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.structure-jupiter:hover{
  color: #D83A34;
  cursor: pointer;
  transition: 0.3s;
}
.surface-jupiter{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 10px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1.92857px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.surface-jupiter:hover{
  color: #D83A34;
  cursor: pointer;
  transition: 0.3s;
}
.jupiter-planeta-mobile{
  width: 224px;
  height: 224px;
  margin-top: 39px;
}
.jupiter-interal-mobile{
  width: 224px;
  height: 224px;
  margin-top: 39px;
}
.jupiter-geology-mobile{
  width: 224px;
  height: 224px;
  margin-top: -75px;
}
.overview-p-jupiter{
  font-family: Spartan;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  width: 327px;
  color:grey;
  margin-top: 16px;
}
.structure-p-jupiter{
  font-family: Spartan;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  width: 327px;
  color:grey;
  margin-top: 16px;
}
.surface-p-jupiter{
  font-family: Spartan;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  width: 327px;
  color:grey;
  margin-top: 16px;
}
/* saturn css */
.real-saturn{
  display: none;
}
.saturn-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overview-saturn{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 10px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1.92857px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.overview-saturn:hover{
  color: #CD5120;
  cursor: pointer;
  transition: 0.3s;
}
.structure-saturn{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 10px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1.92857px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.structure-saturn:hover{
  color: #CD5120;
  cursor: pointer;
  transition: 0.3s;
  
}
.surface-saturn{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 10px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1.92857px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.surface-saturn:hover{
  color: #CD5120;
  cursor: pointer;
  transition: 0.3s;
}
.saturn-planeta-mobile{
  width: 256px;
  height: 256px;
  margin-top: 24px;
}
.saturn-interal-mobile{
  width: 256px;
  height: 256px;
  margin-top: 24px;
}
.saturn-geology-mobile{
  width: 256px;
  height: 256px;
  margin-top: -95px;
}
.overview-p-saturn{
  font-family: Spartan;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  width: 327px;
  color:grey;
  margin-top: 16px;
}
.structure-p-saturn{
  font-family: Spartan;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  width: 327px;
  color:grey;
  margin-top: 16px;
}
.surface-p-saturn{
  font-family: Spartan;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  width: 327px;
  color:grey;
  margin-top: 16px;
}
/* uranus css */
.real-uranus{
  display: none;
}
.uranus-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overview-uranus{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 10px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1.92857px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.overview-uranus:hover{
  color: #1EC1A2;
  cursor: pointer;
  transition: 0.3s;
}
.structure-uranus{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 10px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1.92857px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.structure-uranus:hover{
  color: #1EC1A2;
  cursor: pointer;
  transition: 0.3s;

}
.surface-uranus{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 10px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1.92857px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.surface-uranus:hover{
  color: #1EC1A2;
  cursor: pointer;
  transition: 0.3s;
}
.uranus-planeta-mobile{
  width: 176px;
  height: 176px;
  margin-top: 64px;
}
.uranus-interal-mobile{
  width: 176px;
  height: 176px;
  margin-top: 64px;
}
.uranus-geology-mobile{
  width: 176px;
  height: 176px;
  margin-top: -35px;
}
.overview-p-uranus{
  font-family: Spartan;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  width: 327px;
  color:grey;
  margin-top: 16px;
}
.structure-p-uranus{
  font-family: Spartan;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  width: 327px;
  color:grey;
  margin-top: 16px;
}
.surface-p-uranus{
  font-family: Spartan;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  width: 327px;
  color:grey;
  margin-top: 16px;
}
/* neptune css */
.real-neptune{
  display: none;
}
.neptune-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overview-neptune{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 10px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1.92857px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.overview-neptune:hover{
  color: #2D68F0;
  cursor: pointer;
  transition: 0.3s;
}
.structure-neptune{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 10px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1.92857px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.structure-neptune:hover{
  color: #2D68F0;
  cursor: pointer;
  transition: 0.3s;

}
.surface-neptune{
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 10px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1.92857px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.surface-neptune:hover{
  color: #2D68F0;
  cursor: pointer;
  transition: 0.3s;
}
.neptune-planeta-mobile{
  width: 173px;
  height: 173px;
  margin-top: 64px;
}
.neptune-interal-mobile{
  width: 173px;
  height: 173px;
  margin-top: 64px;
}
.neptune-geology-mobile{
  width: 173px;
  height: 173px;
  margin-top: -35px;
}
.overview-p-neptune{
  font-family: Spartan;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  width: 327px;
  color:grey;
  margin-top: 16px;
}
.structure-p-neptune{
  font-family: Spartan;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  width: 327px;
  color:grey;
  margin-top: 16px;
}
.surface-p-neptune{
  font-family: Spartan;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  width: 327px;
  color:grey;
  margin-top: 16px;
}
.nav-names{
  display: none;
}
.number-div{
  display: none;
}
.structure-imgs-p{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media(min-width:740px){
  
  .nav-menu{
    display: block;
  }
  .hamburger{
    display: none;
  }
  .header-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo{
   margin-bottom: 39px;
  }
  .nav-names{
    display: flex;
    flex-direction: row;
    gap: 33px;
    align-items: center;
  }
  .planets{
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 25px;
    /* identical to box height, or 227% */
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .planets:hover{
    cursor: pointer;
  }
  .nav-link{
    display: none;
  }
  .nav-link-last{
    display: none;
  }
  .li-rect{
    display: none;
  }
  .real-mercury{
    display: block;
  }
  .numbers-and-info{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 36px;
    
  }
  .rotait-time{
    flex-direction: column;
    width: 164px;
    height: 88px;
  }
  .rotation{
    width: 93px;
    font-size: 8px;
    text-align: start;
    margin-left: -45px;
    margin-top: 16px;

  }
  .days{
    width: 155px;
    font-size: 24px;
    text-align: start;
    margin-left: 40px;
    margin-bottom: 10px;
  }
  .structure-imgs-p{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 516px;
    gap: 0px;
   
  } 
  .main-mercury{
    margin-top: 0px;
    margin-left: -95px;
    font-size: 48px;
    margin-bottom: 24px;
  }
  .sourc{
    margin-top: 0px;
  }
  /* .select-div{
    flex-direction: column;
    order: 1;
    
  } */
  div.select-div{
    order: 2;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
  }
  .overview-div-mercury{
    width: 350px;
    height: 48px;
    border: 1px  solid  #4b4b4b;
    background-color: #497EFA;
    display: flex;
    flex: row;
  }

  .overview-div-mercury:hover{
    cursor: pointer;
    background-color: #535151;
    transition: 0.3s;
  }
  .number-div{
    display: block;
    margin-left: 28px;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
    /* identical to box height, or 208% */
    letter-spacing: 2.57143px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-right: 28px;
    margin-top: 12px;
  }
  .overview-mercury{
    font-size: 12px;
    margin-top: 18px;
  }
  .overview-mercury:hover{
    color: white;
  }
  .structure-div-mercury{
    width: 350px;
    height: 48px;
    border: 1px  solid  #4b4b4b;
    background-color: #4b4b4b;
    display: flex;
    flex: row;
  }
  /* .structure-div-mercury:hover{
    cursor: pointer;
    background-color: #535151;
    transition: 0.3s;

  } */
  .structure-mercury{
    font-size: 12px;
    margin-top: 18px;
  }
  .structure-mercury:hover{
    color: white;
  }
  .surface-div-mercury{
    width: 350px;
    height: 48px;
    border: 1px  solid  #4b4b4b;
    background-color: #4b4b4b;
    display: flex;
    flex: row;
  }
  /* .surface-div-mercury:hover{
    cursor: pointer;
    background-color: #535151;
    transition: 0.3s;
  } */
  .surface-mercury{
    font-size: 12px;
    margin-top: 18px;
  }
  .surface-mercury:hover{
    color: white;
  }
  /* .imgs-div{
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%,-50%);

  } */
  .mercury-planet-mobile{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: -316px;
    width: 184px;
    height: 184px;
  }
  .mercury-planet-mobile-interal{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: -316px;
    width: 184px;
    height: 184px;
  }
  .geology-mercury-mobile{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: -316px;
    width: 120px;
    height: 120px;
  }
  .p-div{
    margin-right: 69px;
  }
  .mercury-info-p{
    text-align: start;
  }
  .mercury-structure-p{
    text-align: start;
  }
  .surface-p{
    text-align: start;
  }
  #mercury{
    color: #419EBB;
  }
  .mercury-planet-mobile-interal{
    display: none;
  }
  .geology-mercury-mobile{
    display: none;
  }
  .surface-p{
    display: none;
  }
  .mercury-structure-p{
    display: none;
  }
  /* venus */
  .venus-planeta-mobile{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: -316px;
    width: 184px;
    height: 184px;
  }
  .venus-interal-mobile{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: -316px;
    width: 184px;
    height: 184px;
  }
  .venus-geology-mobile{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: -90px;
    width: 124px;
    height: 124px;
  }
  .structure-div-venus{
    width: 350px;
    height: 48px;
    border: 1px  solid  #4b4b4b;
    background-color: #4b4b4b;
    display: flex;
    flex: row;
  }
  .surface-div-venus{
    width: 350px;
    height: 48px;
    border: 1px  solid  #4b4b4b;
    background-color: #4b4b4b;
    display: flex;
    flex: row;
  }
  .overview-div-venus{
    width: 350px;
    height: 48px;
    border: 1px  solid  #4b4b4b;
    background-color: #4b4b4b;
    display: flex;
    flex: row;
  }
  .overview-venus{
    font-size: 12px;
    margin-top: 18px;
  }
  .overview-venus:hover{
    color: white;
  }
  .structure-venus{
    font-size: 12px;
    margin-top: 18px;
  }
  .structure-venus:hover{
    color: white;
  }
  .surface-venus{
    font-size: 12px;
    margin-top: 18px;
  }
  .surface-venus:hover{
    color: white;
  }
  .overview-p-venus{
    text-align: start;
  }
  .surface-p-venus{
    text-align: start;
  }
  .structure-p-venus{
    text-align: start;
  }
  /* earth */
  .earth-planeta-mobile{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: -316px;
    width: 284px;
    height: 284px;
  }
  .earth-interal-mobile{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: -316px;
    width: 284px;
    height: 284px;
  }
  .earth-geology-mobile{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: -55px;
    width: 144px;
    height: 144px;
  }
  .surface-div-earth{
    width: 350px;
    height: 48px;
    border: 1px  solid  #4b4b4b;
    background-color: #4b4b4b;
    display: flex;
    flex: row;
  }
  .structure-div-earth{
    width: 350px;
    height: 48px;
    border: 1px  solid  #4b4b4b;
    background-color: #4b4b4b;
    display: flex;
    flex: row;
  }
  .overview-div-earth{
    width: 350px;
    height: 48px;
    border: 1px  solid  #4b4b4b;
    background-color: #4b4b4b;
    display: flex;
    flex: row;
  }
  .structure-earth{
    font-size: 12px;
    margin-top: 18px;
  }
  .structure-earth:hover{
    color: white;
  }
  .surface-earth{
    font-size: 12px;
    margin-top: 18px;
  }
  .surface-earth:hover{
    color: white;
  }
  .overview-earth{
    margin-top: 18px;
    font-size: 12px;
  }
  .overview-earth:hover{
    color: white;
  }
  .overview-p-earth{
    text-align: start;
  }
  .structure-p-earth{
    text-align: start;
  }
  .surface-p-earth{
    text-align: start;
  }
  /* mars */
  .overview-div-mars{
    width: 350px;
    height: 48px;
    border: 1px  solid  #4b4b4b;
    background-color: #4b4b4b;
    display: flex;
    flex: row;
  }
  .structure-div-mars{
    width: 350px;
    height: 48px;
    border: 1px  solid  #4b4b4b;
    background-color: #4b4b4b;
    display: flex;
    flex: row;
  }
  .surface-div-mars{
    width: 350px;
    height: 48px;
    border: 1px  solid  #4b4b4b;
    background-color: #4b4b4b;
    display: flex;
    flex: row;
  }
  .mars-planeta-mobile{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: -316px;
    width: 213px;
    height: 213px;
  }
  .mars-geology-mobile{
    width: 140px;
    height: 140px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: -106px;
  }
  .mars-interal-mobile{
    width: 213px;
    height: 213px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: -316px;
  }
  .overview-mars{
    margin-top: 18px;
    font-size: 12px;
  }
  .overview-mars:hover{
    color: white;
  }
  .surface-mars{
    margin-top: 18px;
    font-size: 12px;
  }
  .surface-mars:hover{
    color: white;
  }
  .structure-mars{
    margin-top: 18px;
    font-size: 12px;
  }
  .structure-mars:hover{
    color: white;
  }
  .overview-p-mars{
    text-align: start;
  }
  .structure-p-mars{
    text-align: start;
  }
  .surface-p-mars{
    text-align: start;
  }
  /* jupiter */
  .overview-div-jupiter{
    width: 350px;
    height: 48px;
    border: 1px  solid  #4b4b4b;
    background-color: #4b4b4b;
    display: flex;
    flex: row;
  }
  .overview-jupiter{
    font-size: 12px;
    margin-top: 18px;
  }
  .overview-jupiter:hover{
    color: white;
  }
  .surface-div-jupiter{
    width: 350px;
    height: 48px;
    border: 1px  solid  #4b4b4b;
    background-color: #4b4b4b;
    display: flex;
    flex: row;
  }
  .surface-jupiter{
    font-size: 12px;
    margin-top: 18px;
  }
  .surface-jupiter:hover{
    color: white;
  }
  .structure-div-jupiter{
    width: 350px;
    height: 48px;
    border: 1px  solid  #4b4b4b;
    background-color: #4b4b4b;
    display: flex;
    flex: row;
  }
  .structure-jupiter{
    margin-top: 18px;
    font-size: 12px;
  }
  .structure-jupiter:hover{
    color: white;
  }
  .jupiter-planeta-mobile{
    width: 369px;
    height: 369px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: -316px;
  }
  .jupiter-interal-mobile{
    width: 369px;
    height: 369px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: -316px;
  }
  .jupiter-geology-mobile{
    width: 180px;
    height: 180px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: -50px;
  }
  .overview-p-jupiter{
    text-align: start;
  }
  .structure-p-jupiter{
    text-align: start;
  }
  .surface-p-jupiter{
    text-align: start;
  }
  /* saturn */
  .overview-div-saturn{
    width: 350px;
    height: 48px;
    border: 1px  solid  #4b4b4b;
    background-color: #4b4b4b;
    display: flex;
    flex: row;
  }
  .overview-saturn{
    font-size: 12px;
    margin-top: 18px;
  }
  .overview-saturn:hover{
    color: white;
  }
  .surface-div-saturn{
    width: 350px;
    height: 48px;
    border: 1px  solid  #4b4b4b;
    background-color: #4b4b4b;
    display: flex;
    flex: row;
  }
  .surface-saturn{
    margin-top: 18px;
    font-size: 12px;
  }
  .surface-saturn:hover{
    color: white;
  }
  .structure-div-saturn{
    width: 350px;
    height: 48px;
    border: 1px  solid  #4b4b4b;
    background-color: #4b4b4b;
    display: flex;
    flex: row;
  }
  .structure-saturn{
    margin-top: 18px;
    font-size: 12px;
  }
  .structure-saturn:hover{
    color: white;
  }
  .saturn-planeta-mobile{
    width: 422px;
    height: 422px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: -316px;
  }
  .saturn-interal-mobile{
    width: 422px;
    height: 422px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: -316px;
  }
  .saturn-geology-mobile{
    width: 195px;
    height: 195px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: -49px;
  }
  .overview-p-saturn{
    text-align: start;
  }
  .structure-p-saturn{
    text-align: start;
  }
  .surface-p-saturn{
    text-align: start;
  }
  /* uranus */
  .overview-div-uranus{
    width: 350px;
    height: 48px;
    border: 1px  solid  #4b4b4b;
    background-color: #4b4b4b;
    display: flex;
    flex: row;
  }
  .overview-uranus{
    margin-top: 18px;
    font-size: 12px;
  }
  .overview-uranus:hover{
    color: white;
  }
  .structure-div-uranus{
    width: 350px;
    height: 48px;
    border: 1px  solid  #4b4b4b;
    background-color: #4b4b4b;
    display: flex;
    flex: row;
  }
  .structure-uranus{
    margin-top: 18px;
    font-size: 12px;
  }
  .structure-uranus:hover{
    color: white;
  }
  .surface-div-uranus{
    width: 350px;
    height: 48px;
    border: 1px  solid  #4b4b4b;
    background-color: #4b4b4b;
    display: flex;
    flex: row;
  }
  .surface-uranus{
    margin-top: 18px;
    font-size: 12px;
  }
  .surface-uranus:hover{
    color: white;
  }
  .uranus-planeta-mobile{
    width: 290px;
    height: 290px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: -316px;
  }
  .uranus-interal-mobile{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: -316px;
    width: 290px;
    height: 290px;
  }
  .uranus-geology-mobile{
    width: 130px;
    height: 130px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: -49px;
  }
  .uranus-geology-mobile{
    display: none;
  }
  .surface-p-uranus{
    text-align: start;
    display: none;
  }
  .structure-p-uranus{
    text-align: start;
    display: none;
  }
  .overview-p-uranus{
    text-align: start;
  }
  /* neptune */
  .overview-div-neptune{
    width: 350px;
    height: 48px;
    border: 1px  solid  #4b4b4b;
    background-color: #4b4b4b;
    display: flex;
    flex: row;
  }
  .overview-neptune{
    font-size: 12px;
    margin-top: 18px;
  }
  .overview-neptune:hover{
    color: white;
  }
  .structure-div-neptune{
    width: 350px;
    height: 48px;
    border: 1px  solid  #4b4b4b;
    background-color: #4b4b4b;
    display: flex;
    flex: row;
  }
  .structure-neptune{
    margin-top: 18px;
    font-size: 12px;
  }
  .structure-neptune:hover{
    color: white;
  }
  .surface-div-neptune{
    width: 350px;
    height: 48px;
    border: 1px  solid  #4b4b4b;
    background-color: #4b4b4b;
    display: flex;
    flex: row;
  }
  .surface-neptune{
    margin-top: 18px;
    font-size: 12px;
  }
  .surface-neptune:hover{
    color: white;
  }
  .neptune-planeta-mobile{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: -316px;
    width: 285px;
    height: 285px;
  }
  .neptune-interal-mobile{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: -316px;
    width: 285px;
    height: 285px;
  }
  .neptune-geology-mobile{
    width: 130px;
    height: 130px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: -49px;
  }
  .overview-p-neptune{
    text-align: start;
  }
  .structure-p-neptune{
    text-align: start;
  }
  .surface-p-neptune{
    text-align: start;
  }
}
@media (min-width:1024px){
  .header-div{
    flex-direction: row;
    justify-content: space-between;
  }
  .structure-imgs-p{
    flex-direction: column;
  }
  .imgs-div{
    position: absolute;
    left: 25%;
    top: 25%;
  }
  .p-div{
    margin-top: -372px;
    width: 930px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
  }
  
  .select-div{
    width: 905px;
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
    gap: 16px;
  }
  .numbers-and-info{
    gap: 88px;
  }
  .mercury-planet-mobile{
    width:290px;
    height: 290px;
  }
  .mercury-planet-mobile-interal{
    width: 290px;
    height: 290px;
  }
  .venus-planeta-mobile{
    width: 400px;
    height: 400px;
  }
  .venus-interal-mobile{
    width: 400px;
    height: 400px;
  }
  .venus-geology-mobile{
    width: 163px;
    height: 190px;
    margin-top: 6px;
  }
  .earth-planeta-mobile{
    width: 450px;
    height: 450px;
  }
  .earth-interal-mobile{
    width: 450px;
    height: 450px;
  }
  .earth-geology-mobile{
    width: 163px;
    height: 183px;
  }
  .mars-planeta-mobile{
    width: 336px;
    height: 336px;
  }
  .mars-interal-mobile{
    width: 336px;
    height: 336px;
  }
  .mars-geology-mobile{
    width: 163px;
    height: 183px;
    margin-top: 6px;
  }
  .jupiter-planeta-mobile{
    width: 542px;
    height: 542px;
  }
  .jupiter-interal-mobile{
    width: 542px;
    height: 542px;
  }
  .rect-header{
    margin-top: -10px;
  }
  .header-div{
    margin-top: 0px;
  }
  .saturn-interal-mobile{
    width: 416px;
    height: 416px;
  }
  .saturn-interal-mobile{
    width: 416px;
    height: 416px;
  }
  .saturn-geology-mobile{
    width: 163px;
    height: 183px;
  }
  .uranus-planeta-mobile{
    width: 448px;
    height: 448px;
  }
  .uranus-interal-mobile{
    width: 448px;
    height: 448px;
  }
  .uranus-geology-mobile{
    width: 163px;
    height: 183px;
  }
  .neptune-planeta-mobile{
    width: 450px;
    height: 450px;
  }
  .neptune-interal-mobile{
    width: 450px;
    height: 450px;
  }
  .neptune-geology-mobile{
    width: 163px;
    height: 183px;
  }
 

}